<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
  <div>
    <h4 th:text="${board.boardname}">글 제목</h4>
  </div>
    <div>
        <h6 th:text="|작성자 ${user.nickname}   작성일 ${board.postdate}|">작성자   작성일</h6>
    </div>
    <div>
        <h5 th:text="${board.boardtext}">본문</h5>
    </div>
    <div class="row">
        <div class="col">
            <button onclick="location.href='board/editBoardForm.html'"
                    th:onclick="|location.href='@{|/posts/${board.boardid}/edit|}'|"
                    type="button">수정</button>
        </div>
        <div class="col">
            <form th:action="@{|/posts/${board.boardid}/delete|}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">삭제</button>
            </form>
        </div>
    </div>
    <div>
        <button onclick="location.href='board/list.html'"
                th:onclick="|location.href='@{/posts}'|"
                type="button">목록으로</button>
    </div>
</div>
</body>
</html>